---
layout: default
---
<div class="Panel" style="width=30%">
{% for cat in site.data.categories %}
  <div class="Caption">{{ cat.cName }}</div>
  <div>
    {% if cat.Categories %}
      {% for subcat in cat.Categories %}
        <ul>{{ subcat.fullname }}
          {% for post in site.categories[subcat.name] %}
            <li>
              <a href="{{ site.BaseURL }}{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      {% for post in site.categories[cat.term] %}
        <li>
          <a href="{{ site.BaseURL }}{{ cat }}{{ post.url }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
</div>

<div>
<ul>
  {% for col in site.collections %}
    <li>{{ col.cTitle }}
      {% if col.collections %}
        <ul>
          {% for subcol in col.collections %}
            <li>{{ subcol.cTitle }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
</div>
