<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script src="/assets/js/header.js"></script>
	{% for script in page.scripts %}
	<script type="text/javascript" src="{{ '/assets/js/' | append: script | prepend: site.BaseURL }}"></script>
	{%endfor%}
	<link href="/assets/css/header.css" type="text/css" rel="stylesheet"/>
	{% for style in page.styles %}
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/' | append: style | prepend: site.BaseURL }}" />
	{%endfor%}

</head>