<!DOCTYPE html>
<html lang="en">
{% include head.html %}
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css">
	<link rel="stylesheet" href="/assets/css/editormd.min.css" />
	<script type="text/javascript" src="/assets/js/default.js"></script>
<body>
	{% include header.html %}
	<div id="top-img">
		<img src="/assets/img/top.jpg">
	</div>
	<div id="content">
		<div id="top">
			<div id="left">
				<p>备注</p>
			</div>
			<div id="right">
				<p>版块: <span id="category">{{ page.category }}</span></p>
				<p>作者: <span id="author">{{ page.author }}</span></p>
				<div onclick="javascript:window.location.href='https://ericmcr.github.io/post-editor/?{{ page.date | date: "%Y-%m-%d" }}-{{ page.title }}-{{ page.author }}'"><p>编辑</p></div>
			</div>
		</div>
		<div id="main">
			<div id="left">
				<div id="content">
					<p>时间: <br>{{ page.date | date:"%Y.%m.%d %H:%M:%S" }} <br>标签: <br>{{ page.tags | join:', ' }}</p>
				</div>
			</div>
			<div id="right">
				<div id="content">
					<h1>{{page.title}}</h1>
					<p class="post-info">{{ page.date | date:"%Y.%m.%d %H:%M:%S" }} 字数 {{ page.content | number_of_words }}</p>
					<hr>
					<br>
					<div class="editormd-preview-container">
						{{ content  }}
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>